<header class="flex bg-gray-100 border-b border-gray-300 p-4">
  <nav class="flex flex-row">
    <ul class="flex space-x-4 w-full justify-between items-center">
      <li><a href="#" class="text-blue-500 font-bold hover:underline">Home</a></li>
      <li>
        <% if current_user %>
          <%= render partial: "shared/auth_forms" %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
